@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* For Navbar */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Encode Sans Expanded",sans-serif;
}

.Nav{
    background: black;
    height: 80px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

@media screen and (max-width: 960px){
    .Nav{
        transition: 0.8s all ease;
    }
}

.NavbarContainer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
}

@media screen and (max-width: 768px){
    .NavbarContainer{
        padding: 0 60px;
    }
}

.NavLogo{
    color: red;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
}

.MobileIcon{
    display: none;
}

@media screen and (max-width: 768px){
    .MobileIcon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }
}

.NavMenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -22px;
}

@media screen and (max-width: 768px){
    .NavMenu{
        display: none;
    }
}

.NavItem{
    height: 80px;
}
.NavLinks{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.NavLinks .active{
    border-bottom: 3px solid #01bf71;
}

.NavBtn{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px){
    .NavBtn{
        display: none;
    }
}

.NavBtnLink{
    border-radius: 50px;
    background: #01bf71;
    white-space: nowrap;
    padding: 10px 22px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.NavBtnLink:hover{
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}

/* Navbar End */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

.wrapper{
    margin-top: 85px;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.search_box{
    background: #643fef;
    /* position: relative; */
    height: 80px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
}

.search_box .search_btn .btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #7a5cf0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}

.search_box .input_search{
    outline: none;
    border: 0;
    background: #7a5cf0;
    border-radius: 50px;
    padding: 15px 20px;
    width: 300px;
    height: 50px;
    color: #fff;
}

input[type = number]::-webkit-inner-spin-button,
input[type = number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

::placeholder{
    color: #fff;
}

::-webkit-input-placeholder{
    color: #fff;
}

:-ms-input-placeholder{
    color: #fff;
}

table{
    width: 800px;
    margin: 0;
    padding: 0;
    font-family: helvetica;
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
    margin: 15px auto;
}

/* Zebra striping */
tr:nth-of-type(odd){
    background: #eee;
}

th{
    background: #3498db;
    border-top: none;
    color: white;
    font-weight: bold;
}

td, th{
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
    border-left: solid black 1px;
    border-top: solid black 1px;
    padding: 10px;
}

td:first-child, th:first-child{
    border-left: none;
}

td:hover{
    background-color: lightgray;
}

.approvebtn{
    border-radius: 50px;
    background: #01bf71;
    white-space: nowrap;
    padding: 10px 22px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.rejectbtn{
    border-radius: 50px;
    background: red;
    white-space: nowrap;
    padding: 10px 32px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 5px;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { 
        border: 1px solid #ccc; 
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        color: #000;
        font-weight: bold;
    }


}